# VS Code
.vscode/

# Logs & secrets
error_log
*.log
.env

# Node
node_modules/
dist/
*.map

# OS rommel
.DS_Store
Thumbs.db

# Inactive folders
economie/
healthApp/

# Secure files
db.php
oneiros_be_aether.sql