#navbarName{
    color: var(--bs-navbar-brand-hover-color);
}

#offcanvasScrolling {
  --offcanvas-width: 320px;
  width: var(--offcanvas-width);
}

.offcanvas-tab {
  position: fixed;
  top: 50%;
  left: 0;
  /* iets buiten beeld, maar nog zichtbaar */
  transform: translate(-20%, -50%);
  z-index: 1061; /* above offcanvas/backdrop */
  transition: transform 0.3s ease;
  pointer-events: none; /* enkel knop klikbaar */
}

.offcanvas-tab .tab-button {
  background-color: #640000;
  color:rgba(255, 255, 255, 0.55);
  pointer-events: auto;
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.75rem 0.5rem;
  min-height: 80px;
  min-width: 80px;
}


/* Tab schuift mee met open offcanvas */
#offcanvasScrolling.show + .offcanvas-tab {
  left: var(--offcanvas-width);
  transform: translate(-100%, -50%);
}

#eventList input[type=text], #eventList input[type=date], #eventNew input[type=text], #eventNew input[type=date]{
    width: 100%;
}

.bgRed {
  background-color: rgb(100, 0, 0) !important;
}

.navTab{
  background-color: rgb(221, 212, 212) !important;
  border-bottom: 0px !important;
}

.navTab.active, .navTab.active:link,.navTab.active:visited, .navRow, .accordion-button:not(.collapsed){
  background-color: rgb(100, 0, 0) !important;
  color: #b98c8c;
}

.navbar-brand img{
  width: 10em;
}

.spec-group{
  position: relative;
  display: flex;
  align-items: stretch;
}

.spec-group .input-group-text{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.15rem 0.5rem !important;
}

.spec-group .btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.15rem 0.5rem !important;
}
#backgroundTab {
  width: 100%;
  visibility: visible;
}

.background-section h4 {
  margin-bottom: 0.25rem;
}
