#navbarName{
    color: var(--bs-navbar-brand-hover-color);
}

#offcanvasScrolling {
  --offcanvas-width: 320px;
  width: var(--offcanvas-width);
}

.offcanvas-tab {
  position: fixed;
  top: 50%;
  left: 0;
  transform: translate(-85%, -50%);
  z-index: 1051; /* above offcanvas */
  transition: transform 0.3s ease;
}

.offcanvas-tab .tab-button {
  writing-mode: vertical-rl;
  transform: rotate(180deg);
  border-radius: 0 0.5rem 0.5rem 0;
  padding: 0.75rem 0.5rem;
}

/* Tab schuift mee met open offcanvas */
#offcanvasScrolling.show + .offcanvas-tab {
  transform: translate(calc(var(--offcanvas-width) - 12px), -50%);
}

#eventList input[type=text], #eventList input[type=date], #eventNew input[type=text], #eventNew input[type=date]{
    width: 100%;
}

.bgRed {
  background-color: rgb(100, 0, 0) !important;
}

.navTab{
  background-color: rgb(221, 212, 212) !important;
  border-bottom: 0px !important;
}

.navTab.active, .navTab.active:link,.navTab.active:visited, .navRow, .accordion-button:not(.collapsed){
  background-color: rgb(100, 0, 0) !important;
  color: #b98c8c;
}

.navbar-brand img{
  width: 10em;
}

.spec-group{
  position: relative;
  display: flex;
  align-items: stretch;
}

.spec-group .input-group-text{
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  padding: 0.15rem 0.5rem !important;
}

.spec-group .btn{
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  padding: 0.15rem 0.5rem !important;
}
