body{
    margin-top:56px;
}

p{
    text-align: justify;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "IM Fell English", serif;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

.theme-beige, .theme-hover-beige:hover, .navbar, .navbar a, .navbar-toggler, footer{
    color: #ebc48a !important;
    background-color: #242323 !important
}

.navbar a:hover, .navbar span {
    color: #69563a !important
}
.imgFullWidth {
    width: 100%;
}

.subtitle{
    opacity: 0.5;
    font-style: italic;
    text-align: center;
}

.modal-content {
  background-color: #c1b5ad;
  border: 5px #2e1b07 double;
}

.director {
    width: 100%;
    border: 3px #c8a878 solid;
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.5);
}

.pointer {cursor: pointer;}

